@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<iframe text-align="center" width="600" height="500" src="https://cdn.forms-content.sg-form.com/a798db08-73cd-11ec-b411-12896f361b6d" />